@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-proxima-nova), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-proxima-nova {
  font-family: var(--font-proxima-nova), sans-serif;
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk), sans-serif;
}

/* Add this to your CSS file */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Additional styles from app/globals.css */
.innovation-item {
  padding: 16px 20px;
}

.innovation-item:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

.product-card {
  padding: 24px;
}

.product-card h3 {
  font-size: 18px;
  line-height: 24px;
}

.product-card p {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 750px) {
  .productLiftCard:hover {
    background-color: white;
    /* padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 24px;
    padding-right: 40px; */
    transition: 0.3s all linear;
    /* box-shadow: #f2f7ff 0px 5px 15px; */
    box-shadow: #ccd9ff 0px 13px 27px -5px, #ccd9ff 0px 8px 16px -8px;
    cursor: pointer;
  }
}
.text-transform {
  transform: rotate(270deg);
}

/* Add this to your existing globals.css */

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 60px; /* Adjust as needed */
}

.slick-track {
  display: flex !important;
  align-items: center;
}
